*{
    margin: 0;
    padding: 0;
    font-family: "roboto", 'Courier New', Courier, monospace, 'system-ui';
    font-size: calc(0.5vh + 1rem);
}

* html .container {
    height: 100%;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.header-text{
    font-size: calc(0.5vh + 2rem);
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.foam{
    margin: 10% auto;
}

.create{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.book-wrapper{
    display: grid;
    width: 80%;
    grid-template: repeat(auto-fill,minmax(300px,1fr)) / repeat(4,minmax(200px,1fr));
    gap: 20px;
}

.card{
    height: 250px;
    background-color: #e0115f;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
}

.delet{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.title-header{
    font-size: calc(0.5vh + 1.5rem);
}